header {
    @include flex-center-column;
    width: 100%;
    height: 150vh;
    overflow: hidden;

    .main-title,
    .main-img {
        position: relative;
        width: 100%;
    }

    .main-title {
        height: 40%;
        z-index: 1;


        .title-wrap {
            position: absolute;
            width: 100%;
            left: 50%;
            top: 30%;
            transform: translateX(-50%);

            .title {
                position: relative;
                width: 100%;
                margin-bottom: 3rem;
                text-align: center;
                font-size: 22rem;
                font-variant: small-caps;
                text-shadow: .2rem .2rem.2rem white;
            }

            .title-1:before {
                content: "";
                position: absolute;
                left: 0;
                bottom: 30%;
                width: 100%;
                height: 1.5rem;
                background-color: black;
                box-shadow: 0 1.2rem 2rem $color-main-1;
                z-index: -1;
            }
        }
    }

    .main-img {
        height: 60%;
        background-color: rgb(0, 0, 0);
        overflow: hidden;

        .img-wrap {
            width: 100%;
            height: 100%;
            background-image: url(../img/headerImg/fitness_1920.jpg);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }
    }
}

@media(max-width: 1300px) {
    header {
        .main-title {
            .title-wrap {
                .title {
                    font-size: 17vw;
                }
            }
        }

        .main-img {
            .img-wrap {
                background-image: url(../img/fitness/man-1280.jpg);
                background-position: right;
            }
        }
    }
}

@media(max-width: 1024px) {
    header {
        .main-title {
            .title-wrap {
                .title {
                    font-size: 17vw;
                }
            }
        }
    }
}

@media(max-width: 760px) {
    header {
        .main-title {
            .title-wrap {
                .title {
                    font-size: 25vw;
                }
            }
        }
    }
}