.social-media-fixed-side {
    position: fixed;
    top: 50%;
    right: -10%;
    transform: translateY(-50%);
    border: .1rem solid transparent;
    border-radius: 10px 0 0 10px;
    box-shadow: 0 0 1rem 0.2rem $color-main-1;
    z-index: 100;
    overflow: hidden;
    transition: .5s linear;

    .smfs-container {
        @include full-box;
        padding: 1rem;
        background-color: whitesmoke;

        .sm-box {
            padding: 1rem .5rem;

            a {
                @include full-box;
                text-decoration: none;

                i {
                    font-size: 3rem;
                    transition: .3s linear;
                }

                .fa-brands {}

                i:hover {
                    transform: scale(1.5);
                }

                .fa-facebook {
                    color: rgb(0, 110, 255);
                }

                .fa-instagram {
                    color: rgb(255, 62, 207);
                }

                .fa-tiktok {
                    color: black;
                    filter: drop-shadow(.2rem .2rem 0 rgba(0, 174, 255, 0.63)) drop-shadow(-.2rem -.2rem 0 rgba(234, 0, 255, 0.63));
                }

                .fa-envelope {
                    color: black;
                }
            }
        }
    }
}

@media(max-width: 800px) {
    .social-media-fixed-side {
        display: none
    }
}